<div id="profile">
  <h2><%=@user.username.capitalize%>'s Profile</h2>
  <div id="breweries">
    <b>Number of Breweries:</b> <%=@user.breweries.count%>
  </div>
  <div id="beers">
    <b>Number of Beers:</b> <%=@user.beers.count%>
  </div>
  <div id="reviews">
    <b>Number of Reviews:</b> <%=@user.reviews.count%>
  </div>
</div>
