<h1>WELCOME TO BEER REVIEW</h1>

<div class="topnav">
  <%if logged_in?%>
  <a href="/users/<%=current_user.id%>">User Home</a>
  <a href="/logout">Log Out</a>
  <%else%>
  <a href="/users/new">Sign Up</a>
  <a href="/login">Log In</a>
  <%end%>
</div>

<%if flash[:message]%>
<p id='clear_session'><%=flash[:message]%></p>
<%end%>

<h3>Index</h3>
<div class="">
  <ul>
    <li><a href="<%=beers_path%>">Beers</a></li>
    <br><br>
    <li><a href="<%=breweries_path%>">Breweries</a></li>
  </ul>
